<% for (const item of items) { %>
<div class="quarto-post image-right">
<div class="body">
<% if (item.url) { %>
<a href="<%-item.url%>">
<h4> <%-item.title%> </h4>
</a>
<% } else { %>
<h4> <%-item.title%> </h4>
<% } %>

<div class="listing-categories">
<% for (const keyword of item.keywords) { %>
<div class="listing-category" style="cursor:auto">
<%-keyword%>
</div>
<% } %>
</div>

<p> <%-item.description%> </p>
</div>
<div class="thumbnail">
<% if (item.url) { %>
<a href="<%-item.url%>">
<img src="<%-item.image%>" class="thumbnail-image">
</a>
<% } else { %>
<img src="<%-item.image%>" class="thumbnail-image">
<% } %>

</div>
</div>

<% } %>
